<!DOCTYPE html>
<html>
    <head>
        <link href="{{ url_for('static', path='/style.css') }}" rel="stylesheet">
        <title>Chat</title>
    </head>
    <body>
        <h1>WebSocket Chat</h1>
        <form action="" onsubmit="sendMessage(event)">
            <input type="text" id="messageText" autocomplete="off"/>
            <button>Send</button>
        </form>
        <div id='messages' class="messages">
        </div>
        <script>
            var ws = new WebSocket("ws://localhost:8000/ws");
            ws.onmessage = function(event) {
                var messages = document.getElementById('messages')
                var message = document.createElement('div')
                message.classList.add('message');
                var receiveJson = JSON.parse(event.data);
                var content = document.createTextNode(`${receiveJson.id}) ${receiveJson.message}`);
                message.appendChild(content)
                messages.appendChild(message)
            };
            function sendMessage(event) {
                var input = document.getElementById("messageText")
                var message = {message: input.value}
                var messageJson = JSON.stringify(message);

                ws.send(messageJson)
                input.value = ''
                event.preventDefault()
            }
        </script>
    </body>
</html>
